{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="{% static 'reservations/style.css' %}">
</head>
<body>
    {% if user.is_authenticated %}
        <p> Vous êtes connectés en tant que <strong>{{ request.user }}</strong>. <a href="{% url 'logout' %}">Se déconnecter</a></p>
    {% endif %}
    {% block content %}{% endblock %}
</body>
</html>
