{% extends 'reservations/base.html' %}

{% block content %}
<div class="charte-container">
    <div class="charte-header">
        <h1 class="charte-title">📜 Charte d’utilisation des « Vélyce »</h1>
        <p class="charte-subtitle">
            Garantissons ensemble une utilisation respectueuse et durable des Vélyce. 🚴‍♂️
        </p>
    </div>

    <div class="charte-content">
        <div class="charte-image-container">
            <img src="/static/images/logo_pgdg.png" alt="Photo des Vélyce" class="charte-image">
        </div>
        <div class="charte-rules">
            <section class="charte-section">
                <h2 class="section-title">🚲 Règles générales :</h2>
                <ul class="charte-list">
                    <li>Le vélo est un moyen de transport, pas un outil pour faire des figures ou du tout-terrain.</li>
                    <li>Vérifiez l’état du vélo avant utilisation et signalez tout problème avant de partir.</li>
                    <li>Respectez les équipements et les vélos, car ils sont financés par les actions des élèves.</li>
                </ul>
            </section>

            <section class="charte-section">
                <h2 class="section-title">⚠️ Responsabilités :</h2>
                <ul class="charte-list">
                    <li>Tout accident ou blessure relève de la responsabilité de l’utilisateur. Nous recommandons fortement le port du casque (non obligatoire).</li>
                    <li>Des casques sont fournis gratuitement par l’établissement pour ceux qui souhaitent les utiliser.</li>
                    <li>Attachez toujours le vélo lorsque vous le laissez quelque part. Les vols ou dégradations sont de la responsabilité de l’utilisateur.</li>
                </ul>
            </section>

            <section class="charte-section">
                <h2 class="section-title">⏱️ Respect des horaires :</h2>
                <ul class="charte-list">
                    <li>Respectez les horaires prévus lors de votre réservation en vie scolaire.</li>
                    <li>En cas de retard, contactez le lycée au numéro indiqué et trouvez un moyen de retour par vous-même.</li>
                </ul>
            </section>

            <section class="charte-section">
                <h2 class="section-title">🛠️ En cas de problème :</h2>
                <ul class="charte-list">
                    <li>Signalez toute crevaison dès votre retour, surtout si vous avez utilisé une bombe anti-crevaison, pour préparer le vélo à une prochaine utilisation.</li>
                </ul>
            </section>
        </div>
    </div>

    <footer class="charte-footer">
        <p>
            Nous nous réservons le droit de suspendre l’accès aux vélos pour tout utilisateur ne respectant pas cette charte. Merci de votre compréhension !
        </p>
        <a href="{% url 'page_reservation' %}" class="back-button">Retour à la page d'accueil</a>
    </footer>
</div>
{% endblock %}
