{% extends 'reservations/base.html' %}

{% block content %}
<div class="form-container">
    <h2>Connexion à votre espace</h2>
    <p class="message">{{ message }}</p>
    <form action="" method="post" class="login-form" novalidate>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="submit-button">Envoyer</button>
    </form>
    <p class="signup-link">
        Pas encore inscrit ? Inscrivez-vous en cliquant sur ce <a href="{% url 'signup' %}">formulaire d'inscription</a> !
    </p>
    <a href="{% url 'page_reservation' %}" class="back-link">Retour à la page d'accueil</a>
</div>
{% endblock %}
