{% extends 'reservations/base.html' %}

{% block content %}
<header class="header">
    <h1 class="header-title">🌿 Site de Réservations Vélyce 🚴‍♂️</h1>
    <a class="logout-button" href="{% url 'logout' %}">Se déconnecter</a>
    <nav class="nav-bar">
       
    </nav>
</header>

<main class="main-content">
    <section class="intro-section">
        <h2> Bonjour {{ request.user }}, bienvenue sur Vélyce</h2>
        <p> Tu es bien connecté en tant que <strong>{{ request.user.first_name }} {{ request.user.last_name }}</strong>. </p>
        <p>Gère facilement tes réservations de vélos au lycée. 🚲</p>
        <div class="button_reservation">
        {% if request.user.role == 'moderateur' %}
        <a href="{% url 'signup' %}" class="nav-link submit-button">Tu souhaites inscrire quelqu'un</a>
        {% endif %}
         <a href="{% url 'ajout_reservation' %}" class="nav-link submit-button">Tu souhaites réserver un vélo ? </a>
         <a href="{% url 'return_bike' %}" class="nav-link submit-button">Tu souhaites rendre ton vélo ? </a>
         <a href="{% url 'signaler_incident' %}" class="link submit-button">Signaler un incident</a>
        </div>
      
    </section>
    <table class="reservations-table">
        <caption>Liste des réservations actuelles</caption>
        <thead>
            <tr>
                <th>Élève</th>
                <th>Vélo choisi</th>
                <th>Début de la réservation</th>
                <th>Fin de la réservation</th>
            </tr>
        </thead>
        <tbody>
            {% for reservation in reservations reversed %}
            <tr class="{% if reservation.end_time and not reservation.complete and reservation.end_time < now %}avertissement_velo_non_rendu{% endif %}">
                <td>{{ reservation.eleve }}</td>
                <td>{{ reservation.velo }}</td>
                <td>{{ reservation.start_time }}</td>
                <td>{{ reservation.end_time }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="legend-container">
        <p><span class="legend-red"></span> Les réservations avec un fond rouge indiquent que le vélo n'a pas encore été rendu.</p>
    </div>
    
</main>

<div class="cyclist-container">
   <img src="/static/images/cyclist.png" alt="Cycliste" class="cyclist">
</div>

<footer class="footer">
    <p>© 2024 Vélyce - Respectons l’environnement, un vélo à la fois 🌍</p>
</footer>

{% endblock %}
