{% extends 'reservations/base.html' %}
{% block content %}
<header>
   <h1>Site de Réservations Vélyce</h1>
   <nav>
      <a href="{% url 'return_bike' %}">Retourner un vélo</a>
      <a href="{% url 'ajout_reservation'%}">Ajouter une réservation</a>
   </nav>
</header>
<main>
 <table>
   <caption>Voici la liste des réservations</caption>
   <thead>
      <tr>
         <th>Élève</th>
         <th>Vélo Choisi</th>
         <th>Début Réservation</th>
         <th>Fin Réservation</th>
         <th>Code</th>
      </tr>
   </thead>
   <tbody>
      {% for reservation in reservations%}
      <tr>
         <td>{{reservation.eleve}}</td>
         <td>{{reservation.velo}}</td>
         <td>{{reservation.start_time}}</td>
         <td>{{reservation.end_time}}</td>
         <td>{{reservation.velo.code}}</td>
      </tr>
      {% endfor %}
   </tbody>
 </table>
</main>
 {% endblock %}