td, th {
    border: 1px solid black;
    padding: 1em;
}

table {
    border-collapse: collapse;
    margin: auto;
    background-color: #D0D0D0;
}

thead tr {
    background-color: 3D4435;
    color: tan;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

nav {
    display: flex;
    justify-content: space-around;
    color: tan;
}

header {
    background-color: #3D4435;
    border-radius: 5px;
    color: tan;
}

nav a:visited {
    color: tan;
}

main {
    margin-top: 100px;
}

caption {
    font-size: 2em;
}

body {
    background-color: #C2C8CC;
}
